<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <connectionStrings>
    <!--<add name="Hospitalconnstring" connectionString="data source=localhost;port=3306;Initail Catalog=hospital_data_management;User Id=root;password=minds123"/>-->
    <add name="restconnstring" connectionString="Data Source=localhost;port=3306;Initial Catalog=restaurent_db;User Id=root;password="/>
    <!--<appSettings>
    <add key="sree" vaaulue="Data Source=SFRH\SQLEXPRESS;integrated security=true;database=rentalsystem;"/>
  </appSettings>-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=C5687FC88969C44D"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
</configuration>